body {
    background-color: black;
}

p {
    color: white; 
 }

h1 {
    color:white;
}

input {
    size: 10;
}

#message {
    margin-top: 10px;
    font-weight: bold;
  }
  .correct {
    color: green;
  }
  .wrong {
    color: red;
  }


.botao1caralho { 
    font-size: 30px;
    padding: 18px 17px 20px 18px;
    color: blanchedalmond;
    background: rgb(19, 19, 19);
    font-family:'Times New Roman', Times, serif;
    border-radius: 50px;
    width: 95px;
    height: 95px;
    transition: transform 0.1s;
    box-shadow: none;
    outline: none;
    border: none;
}

.marcelao {
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(48, 243, 14), rgb(1, 165, 64));
    height: 55px;
    width: 95px;
}

.botao2ahan {
    border-radius: 30px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
    height: 95px;
    width: 95px;
}

.vertical{
    width: 80px;
    margin: -20px;
}

.bunda {
    padding: 10px;
    width: 100px;
    margin: -55px -10px -45px -10px;
    background-color: black;
    border-radius: 10px;
}

.ditto {
    width: 95px;
    margin: -10px -10px -60px -10px; 
    background-color: transparent;
}

button:active {
    transform: scale(0.50); 
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-wrapper {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 20px;
   }




